APP_NAME=udemy-clone
DEBUG=true

POSTGRES_DB=udemy_clone
POSTGRES_USER=p...
POSTGRES_PASSWORD=p...
POSTGRES_HOST=db
POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://p...:p...@db:5432/udemy_clone
