APP_NAME=udemy-clone
DEBUG=true

POSTGRES_DB=udemy_clone
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SECRET_KEY=udemy_ADT!123
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_HOURS=1